.loaderBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--whiteLightTransl-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinnerWrapper {
  width: 100px;
  height: 100px;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 248px;

  @media (min-width: 768px) {
    height: 523px;
  }
}

.listLoader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
