.container {
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background: var(--grayBlack-color);

  @media (min-width: 768px) {
    padding: 26px 20px;
  }
  @media (min-width: 1280px) {
    padding: 20px;
  }
}

.heading {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;

  @media (min-width: 768px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.list {
  display: flex;
  gap: 4px;
  justify-content: center;

  margin-bottom: 17px;

  @media (min-width: 375px) {
    gap: 20px;
  }
}

.item {
  width: 64px;
  height: 141px;

  @media (min-width: 375px) {
    width: 71px;
  }
}

.image {
  width: 71px;
  height: 107px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.title {
  margin-bottom: 2px;
  font-size: 10px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  font-size: 10px;
  color: var(--grayLight-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 0px;
  margin-top: 10px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--grayLight-color);

  transition: color var(--time) var(--cubic);

  &:hover,
  &:focus {
    color: var(--whitePrimary-color);
  }
}

.icon {
  color: var(--whitePrimary-color);
  transition: transform var(--time) var(--cubic);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
