.title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.text {
  margin-bottom: 20px;
  color: var(--grayLight-color);

  & span {
    display: block;
  }

  @media (min-width: 1280px) {
    margin-bottom: 60px;
  }
}

.image {
  margin: 0 auto;
  width: 80px;
  height: 80px;

  @media (min-width: 768px) {
    width: 100px;
    height: 100px;
  }
}
