.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;

  min-height: 411px;

  background-color: var(--blackLight-color);
  border-radius: 30px;

  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1280px) {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    min-width: 600px;
    height: 736px;
  }
}

.image {
  @media (min-width: 768px) {
    display: none;
    height: auto;
  }

  @media (min-width: 1280px) {
    display: block;
  }
}
