.header {
  position: relative;
  padding-top: 20px;
  width: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  background-color: var(--blackLight-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  outline: none;
  text-transform: uppercase;
}
