.header {
  position: relative;
  padding-top: 20px;
  width: 100%;
}

.headerContainer {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  background-color: var(--blackLight-color);

  @media screen and (min-width: 768px) {
    padding: 0 16px;
  }
}
