.header {
    padding-top: 20px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    background-color: var(--main-bcg);
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;

    @media screen and (min-width: 1280px) {
        padding-bottom: 0;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.55;
    border-color: transparent;
    border-radius: 12px;
    transition: background-color var(--time) var(--cubic);
}

.btn:hover,
.btn:focus {
    background-color: var(--main-accent);
}
main {
    padding-top: 69px;

    @media screen and (min-width: 1280px) {
        padding-top: 60px;
    }
}
