.recommended {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 768px) {
    gap: 16px;
  }

  @media (min-width: 1280px) {
    flex-direction: row;
  }
}
