@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Medium.woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Bold.woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
