.section {
  padding-top: 10px;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    padding-top: 16px;
    padding-bottom: 32px;
  }

  @media (min-width: 1280px) {
    padding-bottom: 27px;
  }
}
