.labelWrapper {
  position: relative;
}

.labelText {
  color: var(--grayLight-color);
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  user-select: none;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.28;
  }
}

.inputWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 14px;
  width: 100%;
  height: 44px;
  border: 1px solid var(--grayBlack-color);
  background-color: var(--grayBlack-color);
  border-radius: 12px;
  transition: border var(--time) var(--cubic);

  @media screen and (min-width: 768px) {
    padding: 16px 14px;
    height: 50px;
  }

  &:hover,
  &:focus {
    border: 1px solid rgba(249, 249, 249, 0.1);
  }
}

.input {
  width: 100%;
  padding-right: 50px;
  font-size: 12px;
  line-height: 1.33;

  background-color: transparent;
  color: currentColor;
  border: none;
  outline: none;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.28;
  }

  &::placeholder {
    color: var(--whitePrimary-color);
    user-select: none;
  }
}

.errorMessage,
.successMessage {
  font-size: 10px;
  line-height: 1.2;
  padding: 4px 0 0 14px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.errorMessage {
  color: var(--focusColor);
}

.successMessage {
  color: var(--green-color);
}

.inputError {
  border: 1px solid var(--focusColor);

  &:focus-within,
  &:hover,
  &:focus {
    border: 1px solid var(--focusColor);
  }
}

.inputSuccess {
  border: 1px solid var(--green-color);

  &:focus-within,
  &:hover,
  &:focus {
    border: 1px solid var(--green-color);
  }
}

.showPasswordBtn {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 13px;
  top: 13px;
  background-color: transparent;

  &.shifted {
    right: 38px;
  }

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
    right: 18px;
    top: 15px;

    &.shifted {
      right: 46px;
    }
  }
}

.icon {
  width: 100%;
  height: 100%;
}

.iconMessage {
  position: absolute;
  right: 13px;
  top: 13px;
  width: 18px;
  height: 18px;

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
    right: 18px;
    top: 15px;
  }
}
