.recommendedList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
  row-gap: 27px;

  @media (min-width: 768px) {
    justify-content: start;
    column-gap: 25px;
  }

  @media (min-width: 1280px) {
    column-gap: 20px;
  }
}

.recommendedItem {
  width: calc((100% - 20px) / 2);
  max-width: 135px;
  height: 248px;
  border-radius: 8px;
  cursor: pointer;

  &:hover > .image,
  &:focus > .image {
    border-color: white;
  }

  @media (min-width: 768px) {
    width: calc((100% - 25px * 3) / 4);
    max-width: 100%;
  }

  @media (min-width: 1280px) {
    width: calc((100% - 20px * 4) / 5);
  }
}

.image {
  height: 208px;
  border: 1px solid transparent;
  margin-bottom: 8px;
  object-fit: cover;
  border-radius: 8px;
  transition: border-color var(--time) var(--cubic);
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.info {
  max-width: 62px;

  @media (min-width: 768px) {
    max-width: 95px;
  }
}

.title {
  margin-bottom: 2px;
  white-space: nowrap;

  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  font-size: 10px;
  line-height: 1.2;
  color: var(--grayLight-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 248px;

  @media (min-width: 768px) {
    height: 523px;
  }
}

.listLoader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.deleteBtn {
  background: transparent;
  transition: transform 0.25s linear;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
